[Desktop Entry]
Name=Funkalphabet
GenericName=Funkalphabetanzeiger
Comment=Erstellt aus Texten die Buchstabiertexte
Exec=Funkalphabet
Icon=Funkalphabet
Terminal=false
Type=Application
